.container
{
	padding: 30px;
	text-align: center;
	background color: red;
}
.jumbotron
{
	background-image: url("images.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    color:  white;
}
.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active
 {
  background-color: #4CAF50;
  color: white;
  float: right;
  padding: 10px;
  margin: 5px;
  margin-right: 20px;
}
.image
{
	height:55px;
    width: 55px;
}
.Box
{
	background-color: white;
	padding: 20px 20px;
	margin-right: 20px;
	margin-top: 30px;
	text-align: center;	
	border-top: none;
	border-left: none; 
    border-right: grey solid 2px;
    border-bottom: gray solid 3px ;
}
.features
{
	text-align: center;
}
.people
{
	color: green;
	font-size: 20px;
	text-align: right;
	margin-top: 12px;
}
.active
{
	background-color: green;
	margin-top: 14px;
	font-size: 18px;
	border: none;
	padding:5px;
}
.btn
{
	color: black;
	font-size: 15px; 
}
section
{
	background-color: #f1f1f1;
	margin: 0;
}
i
{
	background-color: rgb(8, 200, 145);
    border-radius: 100%;
    padding: 12px;
    color: white;
    font-size: 40px;
}